:root {
  --color-one: #025ba0;
  --color-two: #9bc72b;
  --color-three: #f0c517;
  --color-four: #bf1724;
  --color-five: #5cc9f4;
  --white: #fff;
  --black: #000;
  --grey: #999;
  background: var(--black);
  color: var(--white);
}

@keyframes light-up-color-one {
  0% {
    box-shadow: 0 1px 10px 5px var(--color-one);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--color-one);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--color-one);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--color-one);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-color-two {
  0% {
    box-shadow: 0 1px 10px 5px var(--color-two):
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--color-two);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--color-two);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--color-two);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-color-three {
  0% {
    box-shadow: 0 1px 10px 5px var(--color-three);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--color-three);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--color-three);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--color-three);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-color-four {
  0% {
    box-shadow: 0 1px 10px 5px var(--color-four);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--color-four);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--color-four);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--color-four);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-color-five {
  0% {
    box-shadow: 0 1px 10px 5px var(--color-five);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--color-five);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--color-five);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--color-five);
  }
  100% {
    box-shadow: none;
  }
}

body {
  font-family: 'Alatsi', sans-serif;
}

.bulbs {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.bulb {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

.bulb.color-one {
  background: var(--color-one);
  animation-name: light-up-color-one;
}

.bulb.color-two {
  background: var(--color-two);
  animation-name: light-up-color-two;
}

.bulb.color-three {
  background: var(--color-three);
  animation-name: light-up-color-three;
}

.bulb.color-four {
  background: var(--color-four);
  animation-name: light-up-color-four;
}

.bulb.color-five {
  background: var(--color-five);
  animation-name: light-up-color-five;
}

.bulb::before {
  content: '';
  position: absolute;
  border: 2px solid #222;
  width: 10px;
  height: 10px;
  background: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 25%;
  top: -12px;
}

.bulb::after {
  content: '';
  top: -20px;
  left: 60%;
  position: absolute;
  width: 90px;
  height: 28px;
  border-bottom: 4px solid #222;
  border-radius: 50%;
  z-index: -1;
}

.bulb:last-of-type::after {
  border: none;
}

.bulb-settings {
  background: var(--white);
  color: #333;
  width: 500px;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 10px;
}

.bulb-settings .group {
  align-items: center;
  display: flex;
  margin: 15px 0;
}

.bulb-settings .group label {
  flex-basis: 80px;
}

.checkbox-container {
  cursor: pointer;
  width: 43px;
  height: 20px;
  background: var(--grey);
  border-radius: 100px;
  margin-right: 5px;
  position: relative;
  padding: 6px 12px;
  transition-duration: 0.4s;
}

.checkbox-container.active {
  background: var(--black);
}

.checkbox-container.active::after {
  left: 50%;
}

.checkbox-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--white);
  border-radius: 100%;
  left: 5%;
  top: 9%
  transition-duration: 0.4s;
}

.switch {
  opacity: 0;
  visibility: hidden;
}
